@model IEnumerable<Labb1MVCApplication.Models.Leave>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5">List of all leaves</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Request leave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Leave type
            </th>
            <th>
                Start date
            </th>
            <th>
                End date
            </th>
            <th>
                Time when leave was set
            </th>
            <th>
               Employee name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWhenLeaveWasSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LeaveId" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.LeaveId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.LeaveId" class="btn btn-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
